{% extends 'layout.html' %}

{% block content %}
<div class='col-xs-6'>
  <form role="form">
      <div class="form-group">
        <label for="inputName">Name:</label>
        <input type="text" class="form-control" name="name" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label for="inputAddress">Shipping Address:</label>
        <input type="text" class="form-control" address="address" placeholder="Enter Address">
      </div>
      <div class="form-group">
        <label for="inputMethod">Shipping Method:</label>
        <select name="method" class='form-control' id='method'>
          <option value="overnight">Overnight</option>
          <option value="2day">2 Day Air</option>
          <option value="standard">Standard</option>
        </select>
      </div>
    <div class="form-group row">
      <div class='col-xs-6'>
        <label for="inputAddress">Credit Card Number:</label>
        <input type="text" class="form-control" name="ccard" placeholder="Credit Card Number">
      </div>
      <div class='col-xs-6'>
        <label for="inputAddress">Expiration:</label>
        <input type="text" class="form-control" name="expire" placeholder="MM/YYYY">
      </div>
    </div>
    <div>
      <button type="submit" id="submit" class="btn btn-default">Submit</button>
    </div>
  </form>
  </div>
{% endblock %}